.actions {
  position: relative;
  margin: 5px 0;
  display: flex;
  gap: 10px;
  padding: 5px 0;
  transition: all 0.3s ease;
  max-height: 100px;
  opacity: 1;
  align-items: center;
  z-index: auto;
}

.actions_hidden {
  max-height: 0;
  overflow: hidden;
  padding: 0 5px;
  margin: 0;
  opacity: 0;
  z-index: 0;
}