.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.builder {
  //display: flex;
  //flex-direction: column;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  min-width: 400px;
  //border: 1px solid #585858;
  &:global(.btn--style-none) {

  }
}

.inputWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 2px;
  align-items: center;
  //justify-content: center;
}

.select {
  //flex-grow: 1;
  //width: 100%;

  &:global(.react-select) :global(.rs__control) {
    background-color: transparent;
    //border: none;
  }
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nodeType {
  position: absolute;
  background: #141414;
  right: 10px;
  top: -1rem;
  border-radius: 3px;
  padding: 0.2rem 0.4rem;
}

.input {
  padding: 0.5rem;
}

.removeNodeButton{
  margin: 0 !important;
}

.horizontalrule {
  width: 200px;
}

.contentEditable {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 2rem;
  outline: none;

  min-width: 200px;


  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}


.nodeWrapper{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
