.label_label {
  position: relative;
  margin-bottom: 5px;

  & > label {
    display: inline !important;
  }
}

.generate_button {
  cursor: pointer;
  border: none;
  background: transparent none;
  padding: 0;
  color: currentcolor;
  text-decoration: underline;
}

.error_message {
  align-items: center;
  display: flex;
  width: 100%;
}

.pill {
  margin-right: 10px;
}

.error_message_text {
  flex-shrink: 0;
  line-height: 1;
  margin-right: 10px;
  white-space: nowrap;
}
